<a href="https://colab.research.google.com/github/deyakash888/Python-Tutorial/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("I will learn AI & ML soon in details.")

I will learn AI & ML soon in details.

In [ ]:
#for multiline strings
print("""My favorite drink
 is Earl Grey tea.""")

My favorite drink
 is Earl Grey tea.

In [ ]:
type("""
Numbers, text, and truth,
Strings, ints, and floats in our code,
Data shapes our path
""")

str

In [ ]:
type(5.5)

float

In [ ]:
## This is a Python program which converts the value of feet into meter

feet = int(input("Enter the length in feet:"))
meter = feet / 3.281; #convert feet to meter

print("The length in meter is",round(meter,2))

Enter the length in feet:6
The length in meter is 1.83

In [17]:
#format strings
print(f"The temperature 75F in degrees celsius is {(75 - 32) * 5 / 9}C")

The temperature 75F in degrees celsius is 23.88888888888889C

In [18]:
print(f"Isabel is {28/7} dog years old.")

Isabel is 4.0 dog years old.

In [20]:
print(f"Isabel is {28/7:.3f} dog years old.")

Isabel is 4.000 dog years old.

In [1]:
#multiline format strings with floating number decimal places
print(f"""
    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is {8 * 29.5735:.2f} ml.
    And 100ml of water is {100 / 29.5735:.1f} fluid ounces.
""")

    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is 236.59 ml.
    And 100ml of water is 3.4 fluid ounces.

In [23]:
# Modify the code to display one decimal place
print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903:.1f} meters squared!")

The house was a good size: 1200 square feet, or 111.5 meters squared!

In [7]:
#variables
score=45/9

In [5]:
print(f"Your final score was: {score:.2f}") # prints 450

Your final score was: 5.00